<div class="row">
    <div class="col-sm-6">
        <div class="configTitle">配置项值：</div>
        <textarea id="configValue" class="configValue"></textarea>
    </div>
    <div class="col-sm-6">
        <div class="configTitle">说明：</div>
        <div class="configExample">
            本配置用来限制每个app绑定手环的次数，分为两个参数：第一个参数是每小时绑定次数限制，第二个参数是每天绑定的次数上限。
            <br/><br/>
            例如:每小时限制绑定3次，每天限制绑定10次，则配置为
            <br/>
            [3,10]
        </div>


    </div>
</div>
<div class="row">
    <div class="col-sm-12 ">
        <h3>
            <div class="myAlert" id="alert">
            </div>
        </h3>
        <div style="text-align: center">
            <button id="submit">保存</button> &nbsp;&nbsp;
            <button id="cancel">取消</button>
        </div>
    </div>
    <script src="js/util.json.js"></script>
    <script src="js/config/common.js"></script>
    <script src="js/config/BindBandConstraint.html.js"></script>
</div>