<!--<div class="row">
    <div class="col-sm-12">
        运动数据上传间隔（秒）
    </div>
    <div class="input-group col-sm-12" style="padding:15px; padding-top:5px">

        <input type="text" id="sportUploadInterval" class="form-control" placeholder="运动数据上传间隔（秒）" />
        <span class="input-group-btn"> 
                <button class="btn btn-default" type="button" id="submit">确定</button> 
            </span>
    </div>
    <div style="padding:15px; display:none" id="retNoticeOuter">
        <h4>
            <div id="retNotice" class="label label-success col-sm-12" style="padding-top:10px; padding-bottom:10px">
                修改成功
            </div>
        </h4>
    </div>
    <script src="js/configSportUploadInterval.html.js"></script>
</div>-->

<div class="row">
    <div class="col-sm-6">
        <div class="configTitle">配置项值：</div>
        <textarea id="configValue" class="configValue"></textarea>
    </div>
    <div class="col-sm-6">
        <div class="configTitle">示例：</div>
        <div class="configExample">
            配置项值为数字， 单位为秒<br/>
            例如：86400 为一整天
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 ">
        <h3>
            <div class="myAlert" id="alert">
            </div>
        </h3>
        <div style="text-align: center">
            <button id="submit">保存</button> &nbsp;&nbsp;
            <button id="cancel">取消</button>
        </div>
    </div>
    <script src="js/util.json.js"></script>
    <script src="js/config/common.js"></script>
    <script src="js/config/SportUploadInterval.html.js"></script>
</div>