<!--<link href="css/bootstrap-switch.css" rel="stylesheet">
<div class="row">

    <div class="col-sm-12">
        <span style="font-size: 15px; font-weight: 500">是否开启BankWorld功能：</span>
        <span class="switch" data-on="success" data-off="warning">
            <input type="checkbox" id="chbox"/>
        </span>
    </div>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/configSwitchOnBankWorld.html.js"></script>
</div>-->

<div class="row">
    <div class="col-sm-6">
        <div class="configTitle">配置项值：</div>
        <textarea id="configValue" class="configValue"></textarea>
    </div>
    <div class="col-sm-6">
        <div class="configTitle">示例：</div>
        <div class="configExample">
            0&nbsp;&nbsp;&nbsp;&nbsp;//不支持
            <br/> 1&nbsp;&nbsp;&nbsp;&nbsp;//支持
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 ">
        <h3>
            <div class="myAlert" id="alert">
            </div>
        </h3>
        <div style="text-align: center">
            <button id="submit">保存</button> &nbsp;&nbsp;
            <button id="cancel">取消</button>
        </div>
    </div>
    <script src="js/util.json.js"></script>
    <script src="js/config/common.js"></script>
    <script src="js/config/SwitchOnBankWorld.html.js"></script>
</div>