<!--<div class="row">
    <div class="col-sm-6">
        <a href="#" id="addCityLink">添加版本</a>
        <div id="addCityDiv" style="display:none">
            <div class="input-group">
                <input type="text" class="form-control" name="addCityName" id="addCityName" placeholder="添加版本号" />
                <span class="input-group-btn"> 
                    <button class="btn btn-default" id="addCityBtn" type="button">添加</button>
                    <button class="btn btn-default" id="cancelCityBtn" type="button">放弃</button> 
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="text-align: right">
        <!--<a href="#" id="searchCityLink">搜索城市</a>-->
<!--<div id="searchCityDiv" style="display:none">
            <input type="text" id="searchCityName" id="searchCityName" placeholder="搜索城市名称" />
            <button type="button" class="btn btn-sm btn-info" id="searchCityBtn">搜索</button>
            <button type="button" class="btn btn-sm btn-info" id="cancelCityBtn1">取消</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead class="tbHeader">
                <tr>
                    <th>编号
                    </th>
                    <th>版本号</th>
                    <th>操作</th>
                    </th>
                </tr>
            </thead>
            <tbody id="configCityTbody">
            </tbody>
        </table>
    </div>
    <script src="js/configUnsupportUpdateVersion.html.js"></script>
</div>-->

<div class="row">
    <div class="col-sm-6">
        <div class="configTitle">配置项值：</div>
        <textarea id="configValue" class="configValue"></textarea>
    </div>
    <div class="col-sm-6">
        <div class="configTitle">示例：</div>
        <div class="configExample">
            ["版本号1","版本号2"....]
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 ">
        <h3>
            <div class="myAlert" id="alert">
            </div>
        </h3>
        <div style="text-align: center">
            <button id="submit">保存</button> &nbsp;&nbsp;
            <button id="cancel">取消</button>
        </div>
    </div>
    <script src="js/util.json.js"></script>
    <script src="js/config/common.js"></script>
    <script src="js/config/UnsupportUpdateVersion.html.js"></script>
</div>