<div class="row">

    <!--<ul class="nav nav-pills" role="tablist" id="configMenu">
        <li role="presentation" class="active"><a href="configCity">电子现金适用城市</a></li>
        <li role="presentation"><a href="config1">Config1</a></li>
        <li role="presentation"><a href="config2">Config2</a></li>
    </ul>-->
    <div class="col-sm-3">
        <div class="list-group" id="configMenu">
            <a href="List" class="list-group-item myActive">
                全部指南
            </a>
            <a href="Add" class="list-group-item">添加指南</a>
            <!--<a href="testParse" class="list-group-item">测试</a>-->
            <!--<a href="result" class="list-group-item">搜索活动</a>
            <a href="client" class="list-group-item">推送客户管理</a>-->
        </div>
    </div>
    <div class="col-sm-9 contentLoader">
        <!--<div class="input-group">
            <input type="text" class="form-control" />
            <span class="input-group-btn"> 
                <button class="btn btn-default" type="button">搜索配置项</button> 
            </span>
        </div>-->
        <div style="padding-top: 2px"></div>
        <div id="configContent">dd</div>
    </div>
    <script src="js/guide/index.js"></script>

    <!--<div id="configContent" class="contentLoader">-->
</div>