<link href="css/bootstrap-switch.css" rel="stylesheet">
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<div class="row">
    <div class="col-sm-12" id="versionDetail">

        <table class="table table-striped">
            <thead class="tbHeader">
                <tr>
                    <th>编号
                    </th>
                    <th>标题</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                    <!--<th>地址</th>-->
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="versionTbody">
            </tbody>
        </table>

    </div>
</div>
<script src="js/bootstrap-switch.js"></script>
<script src="js/moment.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/guide/list.js"></script>