<link href="css/bootstrap-switch.css" rel="stylesheet">
<link href="css/bootstrap-multiselect.css" rel="stylesheet">

<div class="radiusDiv">   
    <div class="row versionAddRow">
        <span class="versionAddTitle col-sm-4">推送标题：</span>
        <span class="versionAddValue col-sm-8">
            <input id="title" type="text" class="versionAddText" placeholder="推送标题"/>
        </span>
    </div>
    <div class="row versionAddRow">
        <span class="versionAddTitle col-sm-4">包含任一选中标签：</span>
        <span class="versionAddValue col-sm-8">        
            <select id="tags" class="pushSelect" multiple="multiple">

            </select>&nbsp;
            <span class="glyphicon glyphicon-question-sign" data-toggle="popover" title="包含任一选中标签使用" 
                  data-content="系统根据次选项中选中的标签过滤结果，可以选择多个标签，结果集为并集关系。
                  <br/><br/>例如，选择标签为&QUOT;北京&QUOT;和&QUOT;上海&QUOT;，则选中在北京和上海的用户。"></span>
        </span>
    </div>
    <div class="row versionAddRow">
        <span class="versionAddTitle col-sm-4">包含所有选中标签：</span>
        <span class="versionAddValue col-sm-8">        
            <select id="tagsAnd" class="pushSelect" multiple="multiple">

            </select>&nbsp;
            <span class="glyphicon glyphicon-question-sign" data-toggle="popover" title="包含所有选中标签使用" 
                  data-content="系统根据次选项中选中的标签过滤结果，可以选择多个标签，结果集为交集关系。
                  <br/><br/>例如，选择标签为&QUOT;贵宾卡&QUOT;和&QUOT;女&QUOT;，则选中贵宾卡的女用户。
                  <br/><br/>例如，在&lt;包含任一选中标签&gt;中选中&QUOT;北京&QUOT;和&QUOT;上海&QUOT;，
                  且在&lt;包含所有选中标签&gt;中选中&QUOT;贵宾卡&QUOT;和&QUOT;女&QUOT;，则选中&QUOT;在北京
                  或者上海的且为贵宾卡的女用户&QUOT;。"></span>
        </span>
    </div>
    <div class="row versionAddRow">
        <span class="versionAddTitle col-sm-4">包含任一选中别名：</span>
        <span class="versionAddValue col-sm-8">        
            <select id="alias" class="pushSelect" multiple="multiple">
                <option value="alias1">别名1</option>
                <option value="alias2">别名2</option>
            </select>
        </span>
    </div>
    <div class="row versionAddRow">
        <span class="versionAddTitle col-sm-4">包含任一选中注册id：</span>
        <span class="versionAddValue col-sm-8">        
            <select id="registerIds" class="pushSelect" multiple="multiple">
                <option value="regId1">注册id1</option>
                <option value="regId2">注册id2</option>
                <option value="regId3">注册id3</option>
                <option value="160a3797c80c55835e7">160a3797c80c55835e7</option>
            </select>
        </span>
    </div>
    <div class="row versionAddRow">
        <span class="versionAddTitle col-sm-4">推送目的平台：</span>
        <span class="versionAddValue col-sm-8">        
            <select id="platform" class="pushSelect">
                <option value="all">所有平台</option>
                <option value="android">仅Android</option>
                <option value="ios">仅IOS</option>
            </select>
        </span>
    </div>
    <div class="row versionAddRow">
        <span class="versionAddTitle col-sm-4">推送提示：</span>
        <span class="versionAddValue col-sm-8">
            <span class="switch" data-on="success" data-off="warning">
                <select id="alertType" class="pushSelect">
                    <option value="all">应用到所有平台</option>
                    <option value="def">分平台</option>
                </select>
                <span id="alertSpan" class="pushItem">
                    <input id="alert" type="text" class="versionAddText" placeholder="推送提示"/>
                </span>

                <span id="alertSpan1" style="display: none">
                    <span class="pushItem">
                        <textarea id="androidAlert" class="versionAddTextArea" placeholder="Android alert"></textarea>
                        <br/>
                        <span id="popoverAndroidAlert" class="glyphicon glyphicon-question-sign" data-toggle="popover" title="Android alert hint" 
                              data-content=""></span>
                    </span>
                    <span>

                    </span>
                    <span class="pushItem">
                        <textarea id="iosAlert" class="versionAddTextArea" placeholder="IOS alert"></textarea>
                        <br/>
                        <span id="popoverIosAlert" class="glyphicon glyphicon-question-sign" data-toggle="popover" title="IOS alert hint" 
                              data-content=""></span>
                    </span>
                </span>
            </span>
    </div>

    <div class="row versionAddRow">
        <span class="versionAddTitle col-sm-4">附加信息：</span>
        <span class="versionAddValue col-sm-8">        
            <select class="pushSelect" id="hasExtraMsg">
                <option value="0">无</option>
                <option value="1">有</option>
            </select>
            <span id="extraMsgSpan" class="pushItem" style="display: none">
                <textarea id="extraMsg" class="versionAddTextArea" placeholder="Extra message"></textarea>
                <br/>
                <span id="popoverExtraMsg" class="glyphicon glyphicon-question-sign" data-toggle="popover" title="Extra Message hint" 
                      data-content=""></span>
            </span>
        </span>

    </div>
    <div class="row versionAddRow">
        <span class="versionAddTitle col-sm-4">离线消息保留：</span>
        <span class="versionAddValue col-sm-8">
            <input id="timeToLive" type="text" class="versionAddText" placeholder="(秒)"/>
        </span>
    </div>
    <div class="row versionAddRow">
        <span class="versionAddTitle col-sm-4">生产环境：</span>
        <span class="versionAddValue col-sm-8">
            <select id="apnsProduction" class="pushSelect">
                <option value="1">是</option>
                <option value="0">否</option>
            </select>
        </span>
    </div>

    <div class="row versionAddRow">
        <span class="versionAddTitle col-sm-4">缓慢推送：</span>
        <span class="versionAddValue col-sm-8">
            <select id="isBigPush" class="pushSelect">
                <option value="0">否</option>
                <option value="1">是</option>
            </select>
            <span id="bigPushSpan" class="pushItem" style="display:none">
                <input id="bigPushDuration" type="text" class="versionAddText" placeholder="(分钟)"/>
            </span>
        </span>
    </div>
    <div class="row versionAddRow">
        <span class="versionAddTitle col-sm-4">推送消息：</span>
        <span class="versionAddValue col-sm-8">
            <textarea id="msgContent" class="versionAddTextArea"></textarea>
        </span>
    </div>
</div>
<h3>
    <div class="myAlert" id="myAlert">
    </div>
</h3>
<div class="versionAddBottom">
    <button id="submit">推送</button>
    &nbsp;&nbsp;&nbsp;
    <button id="cancel">取消</button>
</div>
<script src="js/bootstrap-switch.js"></script>
<script src="js/bootstrap-multiselect.js"></script>
<script src="js/push/some.js"></script>