<link href="css/bootstrap-switch.css" rel="stylesheet">
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<div class="row">
    <div class="col-sm-12" id="versionDetail">

        <table class="table table-striped">
            <thead class="tbHeader">
            <tr>
                <th>编号
                </th>
                <th>用户名</th>
                <th>真实姓名</th>
                <th>组别</th>
                <!--<th>创建时间</th>-->
                <th>是否启用</th>
                <th>权限</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="userTbody">
            </tbody>
        </table>

    </div>
</div>
<div id="features" style="display:none"><%- features %></div>
<script src="js/bootstrap-switch.js"></script>
<script src="js/moment.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/user/list.js"></script>