<link href="css/bootstrap-switch.css" rel="stylesheet">
<link href="css/bootstrap-multiselect.css" rel="stylesheet">

<div class="radiusDiv">
    <h2>设置个人信息</h2>
    <div class="row versionAddRow">
        <span class="col-sm-5 versionAddTitle">真实姓名：</span>
        <span class="col-sm-7 versionAddValue">
            <input type="text" id="realName" class="versionAddText" value="<%= realName %>"/>
        </span>
    </div>
    <div class="row versionAddRow">
        <span class="col-sm-5 versionAddTitle">密码：</span>
        <span class="col-sm-7 versionAddValue">
            <input type="password" id="password" class="versionAddText" value="******"/>
        </span>
    </div>
    <div class="row versionAddRow">
        <span class="col-sm-5 versionAddTitle">重复密码：</span>
        <span class="col-sm-7 versionAddValue">
            <input type="password" id="password1" class="versionAddText" value="******"/>
        </span>
    </div>

</div>
<h3>
    <div class="myAlert" id="alert">
    </div>
</h3>
<div class="versionAddBottom">
    <button id="submit">确定</button>
    &nbsp;&nbsp;&nbsp;
    <button id="cancel">取消</button>
</div>
<script src="js/bootstrap-switch.js"></script>
<script src="js/moment.js"></script>
<script src="js/bootstrap-switch.js"></script>
<script src="js/bootstrap-multiselect.js"></script>
<script src="js/personalinfo/index.js"></script>